# Anomaly Detection

## Import required modules

In [1]:
import pandas as pd

## Familiarization Task

In [2]:
data = pd.read_csv("dataset/BATADAL_dataset03.csv")
data.head()

,DATETIME,L_T1,L_T2,L_T3,L_T4,L_T5,L_T6,L_T7,F_PU1,S_PU1,...,P_J256,P_J289,P_J415,P_J302,P_J306,P_J307,P_J317,P_J14,P_J422,ATT_FLAG
0,06/01/14 00,0.509730,2.049003,3.191145,2.792634,2.656091,5.316831,1.562321,98.998444,1,...,87.605774,26.495605,84.206619,18.901676,81.983734,18.791777,67.125603,29.387470,28.487471,0
1,06/01/14 01,0.412580,2.009072,3.642565,2.831673,3.126387,5.494855,1.852043,99.095901,1,...,89.448341,26.487326,85.900085,18.849329,82.150589,18.739643,67.178696,29.354256,28.454256,0
2,06/01/14 02,0.320112,1.986093,4.140192,3.256733,3.574601,5.500000,2.246126,98.420959,1,...,91.056114,26.487364,86.582474,19.597170,83.988579,19.496712,72.425293,29.354538,28.454538,0
3,06/01/14 03,0.332879,2.009203,4.673478,3.744497,3.952379,5.500000,3.203573,97.575172,1,...,92.594353,26.575815,88.020546,26.028486,64.670486,25.922703,76.275040,29.449951,28.549952,0
4,06/01/14 04,0.483496,2.089049,5.237937,4.409456,3.504676,5.500000,4.439714,97.351059,1,...,94.473099,26.723457,90.422462,26.209970,64.746620,26.104692,76.703529,29.574265,28.674263,0

In [5]:
data.dtypes

DATETIME     object
L_T1        float64
L_T2        float64
L_T3        float64
L_T4        float64
L_T5        float64
L_T6        float64
L_T7        float64
F_PU1       float64
S_PU1         int64
F_PU2       float64
S_PU2         int64
F_PU3         int64
S_PU3         int64
F_PU4       float64
S_PU4         int64
F_PU5         int64
S_PU5         int64
F_PU6       float64
S_PU6         int64
F_PU7       float64
S_PU7         int64
F_PU8       float64
S_PU8         int64
F_PU9         int64
S_PU9         int64
F_PU10      float64
S_PU10        int64
F_PU11      float64
S_PU11        int64
F_V2        float64
S_V2          int64
P_J280      float64
P_J269      float64
P_J300      float64
P_J256      float64
P_J289      float64
P_J415      float64
P_J302      float64
P_J306      float64
P_J307      float64
P_J317      float64
P_J14       float64
P_J422      float64
ATT_FLAG      int64
dtype: object